
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link href="/static/typeahead.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>app | complete</title>
</head>
<body>
<div class="col-md-4">
  <br /><br />
  <div class="panel panel-default">
  <div class='col-md-2'></div>
  <div class="col-md-8">
    <div class="panel-heading">price with cab:</div>
    <div>
        <div><h1>{{name}}</h1>
        <p>high_estimate:{{high_estimate}}</br>low_estimate:{{low_estimate}}</br>duration:{{duration}}</br>distance:{{distance}}</br></p></div>
    </div>
  </div>
</div>
</div>
