<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link href="/static/signin.css" rel="stylesheet">
    <link href="/static/typeahead.css" rel="stylesheet">
    <link href="/static/stick-footer.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/travelx.ico" type="image/x-icon" />
    <script src="/static/jquery-2.1.0.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/typeahead.bundle.min.js"></script>

    <title>Travelx</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
          <div class="page-header">
            <h1>Sticky footer</h1>
          </div>
          <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
          <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
      </div>
      {% block footer %}
        <footer class="footer">
          <div class="col-md-2"><img src="/static/travelx.png"/><div>
        </footer>
        {% endblock %}

        <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="/static/bootstrap.min.js"></script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="/static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
